<div class="modular-row team">
    {{ content }}
    <div class="members">
        {% for member in page.header.members %}
        <div class="member">
            <img src="{{page.media[member.image].url}}" alt="">
            <h4>{{ member.name }}</h4>
            <span>{{ member.title }}</span>
            <hr>
            <p>{{ member.info }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="callout-line"></div>
</div>
